html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

img {
	max-width: 100%;
}

.heading {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0;
  padding-left: 50px;
  padding-right: 50px;
}

a {
  color: inherit;
  text-decoration: none;
  list-style-type: none;
}

p {
  margin: 0;
}

body,
header {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  background: #FFF;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

:root {
  --grey: #F0F1F5;
  --black: #000000;
  --white: #FFFFFF;
  --red: #D40200;
  --red-hover: #f90b0b;
  --blue: #0063C7;
  --gray: #BFBFBF;
  --btn-hover: #847c7c;
}

/* header */
.header__block {
  background: var(--grey);
}

.header__block-flex {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header__block-top {
  display: flex;
  align-items: center;
}

.header__block-top svg {
  margin-right: 20px;
}

.header__block-descr {
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  color: var(--black);
  margin: 0;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header__nav {
  margin-right: 20px;
  width: auto;
}

.header__nav-list {
  display: flex;
  justify-content: space-between;
}

.header__nav-item {
  margin-right: 35px;
}

.header__nav-item:last-child {
  margin-right: 0px;
}

.header__nav-item a{
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  color: var(--black);
  margin: 0;
}

.header__logo-block {
  width: 28%;
  text-align: center;
}

.header__logo {
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
  color: var(--black);
  margin: 0;
  text-transform: uppercase;
  text-align: center;
}

/* hero */
.hero {
  background-image: url(../img/hero-bg.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  margin-bottom: 40px;
}

.hero__title {
  font-size: 60px;
  font-weight: 500;
  line-height: 73px;
  margin-bottom: 10px;
  color: var(--white);
}

.hero__content {
  padding-top: 170px;
  padding-bottom: 78px;
  padding-left: 125px;
}

.hero__descr {
  font-size: 30px;
  font-weight: 500;
  line-height: 36px;
  margin-bottom: 40px;
  color: var(--white);
}

.hero__btn {
  display: inline-block;
  font-size: 18px;
  line-height: 25px;
  font-weight: 500;
  color: var(--white);
  border: 0;
  border-radius: 8px;
  background: var(--red);
  padding: 15px 15px 17px 15px;
  transition-property: background;
  transition-duration: 0.3s;
  text-wrap: nowrap;
  cursor: pointer;
  min-width: 315px;
}

.hero__btn:hover {
  background: #f90b0b;
}

.hero__timer {
  display: flex;
  margin-bottom: 40px;
}

.hero__timer-descr {
  font-size: 30px;
  line-height: 35px;
  font-weight: 500;
  color: var(--black);
}

.hero__timer-desc {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: var(--white);
}

.hero__timer-choice {
  margin-right: 10px;
}

.hero__timer-choice:last-child {
  margin-right: 0px;
}

.hero__timer-block {
  margin-bottom: 10px;
  padding: 9px;
  background: var(--white);
  border-radius: 8px;
  text-align: center;
}

/* breadcrumbs */
.breadcrumbs__list {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
}

.breadcrumbs__item {
  margin-right: 10px;
  display: flex;
  align-items: center;
  transition-property: color;
  transition-duration: 0.3s;
}

.breadcrumbs__item:last-child {
  margin-right: 0px;
}

.breadcrumbs__link {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: var(--black);
  transition-property: color;
  transition-duration: 0.3s;
}

.breadcrumbs__item:hover .dot{
  background: var(--blue);
}

.breadcrumbs__item:hover:not(:first-child) .breadcrumbs__link {
  color: var(--blue);
}

.breadcrumbs__item:focus .dot{
  background: var(--blue);
}

.breadcrumbs__item:focus:not(:first-child) .breadcrumbs__link {
  color: var(--blue);
}

.breadcrumbs__item:active .dot{
  background: var(--blue);
}

.breadcrumbs__item:active:not(:first-child) .breadcrumbs__link {
  color: var(--blue);
}

.dot {
  background: var(--black);
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 100%;
  margin-right: 10px;
  transition-property: color;
  transition-duration: 0.3s;
}

/* choice */
.choice__block-subtitle {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: var(--black);
  margin-bottom: 10px;
}

.choice__block {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.15);
  padding: 40px;
  border-radius: 8px;
}

.choice__block-search .choices__inner {
  padding-bottom: 0 !important;
  padding: 0;
  border-radius: 8px;
  line-height: 20px;
  color: var(--gray);
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.15);
  border: 1px;
  background: var(--white);
}

.choice__block-search .choices__list.choices__list--single {
  padding: 17px 25px;
}

.choice__block-search .choices__list--dropdown {
  padding: 17px 25px;
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.15);
  border: 1px;
}

.choice__block-search .choices__placeholder {
  opacity: 1;
}

.choice__block-search .choices {
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.15);
}

.choice__block-search .choices__list--dropdown.is-active {
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.15);
  padding: 0;
}

.choice__block-search .choices.is-open {
  border-radius: 8px;
}

.choice__block-search,
.choice__form {
  width: 100%;
}

.choice__form-text,
.choice__form-tel {
  box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.15);
  border: 0;
  padding: 17px 25px;
  width: 100%;
  border-radius: 8px;
  margin-bottom: 20px;
  outline: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
}

.choice__form-text[type="text"],
.choice__form-tel[type="text"] {
  color: var(--gray);
}

.fieldset__radio-label {
  position: relative;
  margin-bottom: 20px;
}

.fieldset__radio-label:last-child {
  margin-bottom: 0px;
}

.fieldset__radio {
  border: 0;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 0;
}

.fieldset__radio-input {
  cursor: pointer;
  opacity: 0;
}

.fieldset__radio-span {
  font-size: 12px;
  line-height: 17px;
  font-weight: 400;
  color: var(--black);
}

.fieldset__radio-span::before {
  content: "";
  display: block;
  position: absolute;
  border: 1px solid var(--gray);
  width: 12px;
  height: 12px;
  left: 0px;
  top: 5px;
}

.fieldset__radio-span::after {
  content: "";
  display: block;
  background-image: url(../img/icon.svg);
  opacity: 0;
  transform: translateY(-3.1px);
}


.choice__form-btn {
  border: 0;
  background: var(--gray);
  padding: 15px 20px 17px 20px;
  border-radius: 8px;
  font-size: 18px;
  line-height: 25px;
  font-weight: 500;
  color: var(--white);
  width: 100%;
  cursor: pointer;
  transition-property: background;
  transition-duration: 0.3s;
  text-wrap: nowrap;
}

.choice__form-btn:hover {
  background: var(--btn-hover);
}

.fieldset__radio-input:checked +.fieldset__radio-span::after {
  content: '';
  display: block;
  /* background-image: url(../img/gallery-icon.svg); */
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  width: 12px;
  height: 12px;
  left: 0px;
  top: 7.4px;
  opacity: 1;
}

.choice__block-slider {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.choice__block-descr {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  color: var(--black);
}

.choice__range {
  margin-bottom: 20px;
}

.choice__block-range {
  display: flex;
  justify-content: space-between;
}

.range__descr {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: var(--black);
  margin-right: 49px;
}

.range__descr:last-child {
  margin-right: 0px;
}

.choice__range .range {
  width: 100%;
}

/* banner */
.banner__block {
  background: url(../img/banner.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  margin-bottom: 80px;
  padding: 70px 0 70px 40px;
}

.banner__subtitle {
  font-size: 80px;
  line-height: 80px;
  font-weight: 500;
  margin-bottom: 10px;
  color: var(--white);
}

.banner__descr {
  font-size: 40px;
  line-height: 49px;
  font-weight: 500;
  color: var(--white);
}
